@import "variables";

.page-body {
  width: 100%;
  min-height: 100vh;
  background: url(../assets/backgrounds/bg.svg) no-repeat center/cover;
}

@media (max-width: 1440px) {
  .home {
    background-position: left -300px center;
  }
}



// header & footer
.site-header {
  width: 100%;
  height: 80px;
  background: $color-hf;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: block;
    width: auto;
    height: 70%;

    img {
      height: 100%;
    }
  }
}

.site-footer{
  width: 100%;
  height: 180px;
  background: $color-hf;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer__notice {
  font-size: 1rem;
}

.site-footer__copyright {
  display: block;
  margin-top: 16px;
}



// container
.container{
  width: 100%;
  min-height: 100vh;
  margin: 3rem 0 3rem 0;
}



//page
.page-title{
  font-size: 3rem;
}

.page-subtitle{
  font-size: 1rem;
  margin-bottom: 2rem;
}




//catpure
#captureWrapper {
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
  min-width: 320px;
  background: transparent;
  position: relative;
}

.tree-area {
  position: relative;
  display: block;
  min-width: 320px;
  margin: 0 auto 2rem auto;
  padding: 8px;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 20px;
  background: rgba(255,255,255,0.5);
}

.tree-area__tree {
  margin: 2rem auto 0 auto;
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
  pointer-events: none;
}



// buttons
button{
  font-family: 'SchoolSafetyWing';
}

.save-btn {
  margin: 12px auto 6px;
  padding: 10px 18px;
  display: inline-block;
  border-radius: 10px;
  background: #ffcf2f;
  color: #111;
  font-weight: 700;
  cursor: pointer;
  transition: transform .12s ease, background .12s ease;

  &:hover{transform: translateY(-3px);}
}



//media
@media (max-width: 430px) {
  html{
    font-size: 14px;
  }

  .site-header {
    height: 50px;
  }

  :root {
    --orn-size: 32px !important;
  }
}