.home {
  width: 100%;
  min-height: 100vh;
  background: url(../assets/backgrounds/bg.jpg) no-repeat center center/cover;
}

.home-header {
  width: 100%;
  height: 80px;
  margin-bottom: 3rem;
  background: black;
}

.home-footer{
    width: 100%;
    height: 200px;
    margin-top: 3rem;
    background: black;
}

.hero{
    width: 100%;

    .hero__content {

        .hero__title {
            // border: 1px solid;
            font-family: 'SchoolSafetyWing';
            color: white;
            font-size: 3rem;
            font-weight: 800;
            margin-bottom: 2rem;
            text-shadow: 0 0 16px black;
        }

        .hero__tree {
            margin: 0 auto;
            // border: 1px solid blue;
            max-width: 420px;
            width: 80%;
            min-width: 320px;
            margin-bottom: 1rem;

            img {
                width: 100%;
                display: block;
                transform-origin: center center;
                transition: transform 0.2s;

                &:hover{
                    animation: tree-wobble 0.4s ease-in-out infinite;
                }
            }
        }

        

        .hero__buttons{
            margin: 0 auto;
            max-width: 420px;
            width: 80%;
            min-width: 320px;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .hero-btn{
                padding: 16px 0;
                border-radius: 12px;
                background-color: #ffcf2f;
                border: none;
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: 600;
                transition: 0.2s;

                &:hover {
                    background-color: #fdf4db;
                    transform: translateY(-2px);
                }
            }
        }
    }
}


#snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1; /* 헤더/푸터보다 뒤로 */
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  opacity: 0.8;
  animation: fall linear infinite;
}


@keyframes fall {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0.3;
  }
}
