.home {
  width: 100%;
  min-height: 100vh;
  background: url(../assets/backgrounds/bg.svg) no-repeat center/cover;
  display: flex;
  flex-direction: column;
}

.home-header {
  width: 100%;
  height: 80px;
  background: $color-hf;
  flex-shrink: 0;
}

.home-footer{
  width: 100%;
  height: 200px;
  background: $color-hf;
  flex-shrink: 0;
}

.hero{
  width: 100%;
  margin: 3rem 0 3rem 0;

    .hero__content {

        .hero__title {
            font-size: 3rem;
        }

        .hero__subtitle{
          font-size: 1rem;
          margin-bottom: 2rem;
        }

        .hero__tree {
            margin: 0 auto;
            // border: 1px solid blue;
            max-width: 420px;
            width: 80%;
            min-width: 320px;
            margin-bottom: 1rem;

            img {
                width: 100%;
                display: block;
                transform-origin: center center;
                transition: transform 0.2s;

                &:hover{
                    animation: tree-wobble 0.4s ease-in-out infinite;
                }
            }
        }

        

        .hero__buttons{
            margin: 0 auto;
            max-width: 420px;
            width: 80%;
            min-width: 320px;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .hero-btn{
                padding: 16px 0;
                border-radius: 12px;
                background-color: $color-btn;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 1.2rem;
                letter-spacing: -1%;
                font-weight: 400;
                transition: 0.2s;

                &:hover {
                    background-color: $color-btn__hover;
                    transform: translateY(-2px);
                }

                a{
                  display: block;
                  width: 100%;
                  height: 100%;
                  color: white;
                }
            }
        }
    }
}


#snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1; /* 헤더/푸터보다 뒤로 */
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0.3;
  }
}

@media (max-width: 1440px) {
  .home {
    background-position: left -300px center;
  }
}

@media (max-width: 430px) {
  html{
    font-size: 14px;
  }
}